.homepage-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: #1f1f1f;
    padding: 20px;
    gap: 20px;
}

.main-content {
    display: flex;
    margin-top: 20px;
    flex-grow: 1;
}

.content {
    flex-grow: 1;
    padding-left: 220px;
    width: 100%;
}

.balance-transaction-wrapper,
.table-container,
#charts {
    width: 100%;
    max-width: 1400px; /* Устанавливаем одинаковую максимальную ширину */
    background-color: #2b2b2b;
    border-radius: 8px;
    padding: 20px;
    color: white;
    margin-bottom: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.transactions-table {
    width: 100%;
    border-collapse: collapse;
    color: #ffffff;
}

.transactions-table th,
.transactions-table td {
    padding: 12px;
    border: 1px solid #3e3e3e;
    text-align: left;
}

.transactions-table th {
    background-color: #3a3a3a;
}

.transactions-table tbody tr:hover {
    background-color: #4a4a4a;
}

.expense-charts-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 1400px;
    margin-top: 20px;
    gap: 20px; /* Расстояние между графиками */
}

.pie-chart {
    background-color: #2b2b2b;
    padding: 20px;
    border-radius: 8px;
    color: white;
    width: 320px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
    .homepage-container {
        padding: 10px;
    }

    .balance-transaction-wrapper,
    .table-container,
    .expense-charts-container {
        max-width: 100%;
        padding: 10px;
    }

    .expense-charts-container {
        flex-direction: column;
    }

    .pie-chart {
        width: 100%;
    }
}
@media (max-width: 768px) {
    .homepage-container {
        padding: 10px;
    }

    .main-content {
        flex-direction: column;
        padding: 0;
    }

    .content {
        padding-left: 0;
    }

    .balance-transaction-wrapper,
    .table-container,
    #charts {
        padding: 10px;
        width: 100%;
    }
}
