
.profile-page-container {
    background-color: #1c1c1c;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-card {
    background-color: #1c1c1d;
    border-radius: 10px;
    padding: 2rem;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.profile-title {
    color: #ffffff;
    margin-bottom: 1.5rem;
    text-align: center;
}

.profile-picture-container {
    position: relative;
    display: inline-block;
    cursor: pointer;

}

.profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    background-color: #3a3a3a;
}

.profile-placeholder {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #3a3a3a;
}

.form-label {
    color: #ffffff;
}

.form-control {
    background-color: #3a3a3a;
    border: 1px solid #444;
    color: #ffffff;
}
.add-wallet-button {
    padding: 0.5rem 1rem;
    background-color: #fff;
    color: #1a1a1a;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.add-wallet-button:hover {
    background-color: #5a5a5a;
}

.analytics-button {
    padding: 0.5rem 1rem;
    background-color: #fff;
    color: #1a1a1a;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.analytics-button:hover {
    background-color: #5a5a5a;
}
@media (max-width: 768px) {
    .profile-card {
        width: 90%;
        padding: 1rem;
    }

    .profile-picture {
        width: 80px;
        height: 80px;
    }

    .profile-title {
        font-size: 1.2rem;
    }
}
